:root    {
    --primary-text-color: #2e2f42;
    --text-color: #434455;
    --footer-text-color: #e7e9fc;
    --background-white-color: #f4f4fd;
    --iris-color: #4d5ae5;
    --white-color: #ffffff;
    --accent-color:  #404bbf  ; 
    --black-color: #111 ;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    
}

.site-link {
   
    text-decoration: none;
    font-weight: 700 ;
    font-size: 18px ;
    font-size: 16px ;
    font-weight: 500 ;
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    text-transform: uppercase;
    color : #404bbf ;
font-family: "Raleway", sans-serif
}


.container:nth-child(2){

}
.headerh{
    border-bottom: 1px solid #e7e9fc;
    width: 1158px;
    padding: 0 15px;

}
.site-link:hover {
    color: #404BBF;
   
}
 


.site-nav {
    text-decoration: none;
    font-weight: 700 ;
    font-size: 18px ;
    font-size: 16px ;
    font-weight: 500 ;
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    text-transform: uppercase;
    color : #434455 ;
font-family: "Raleway", sans-serif
}


.site-tele{
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--text-color);
}

.site-adress {
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--text-color);
}

.nav-list { 
    display: inline-block ;
    gap: 40px;
    padding: 24px 0 24px;
}

.tema {
    border: 1px solid var(--footer-text-color);
}

.logo {
    align-items: center;
    display: flex;
    text-decoration: none;
    font-weight: 700 ;
    font-size: 18px ;
    line-height: 1.17 ;
    letter-spacing: 0.03em ;
    text-transform: uppercase;
    color :  #4d5ae5  ;
font-family: "Raleway", sans-serif ;
font-style: normal ;
margin-right: 76px ;
}
.header-nav {
    display: flex;
    align-items: center;
    
}

.container {
display: flex;
width: 1158px; 
padding: 0 15px ;
margin: 0 auto ;
}


.header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 1158px;
    padding: 0 15px ;
}

.header-sociaals {
    display: flex;
    gap: 40px;
}

.logo-text {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #2e2f42;
}
.spisok-title {
display: flex;
flex-wrap: wrap;
column-gap: 24px; 
row-gap: 48px;


}


.hero-section:hover {
    background-color: #404BBF
}

.hero-section:focus {
    background-color: #404BBF  
}


.section-text {
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5 ;
letter-spacing: 0.02em ;
color: #434455;

}


.button-primery {
    border: none;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--white-color);
border: 0px solid;
cursor: pointer;
letter-spacing: 0.04em ;
display: block;
min-width: 169px ;
height: 56px;
border: none;
background-color: #4d5ae5; 
border-radius: 4px; 
cursor: pointer;
}


.button-primery:hover  {
        background-color:  #404bbf;
        color:  #404bbf;
}
 
.button-primery:focus {
   color: #404bbf ;
   background-color: #404BBF
}


.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}



.hero-title { 
    color: var(--white-color) ;
    background-color:  #2e2f42 ;
font-size: 56px;
font-weight: 700;
line-height: 60px; 
letter-spacing: 1.12px;
line-height: 1.07 ;
max-width: 496px; 

}

.hero-title:hover
{
    background-color: #404BBF
 }

 .hero-title:focus
{
    background-color: #404BBF
 }

.team {
    
    background-color: #F4F4FD;
font-size: 36px ;
line-height: 1.11 ;
text-align: center;
letter-spacing: 0.02em ;
text-transform: capitalize ;
color: #2e2f42;

}


.teams-list {
display: flex;
gap: 24px;
}

.section-title:nth-child(5) {text-align: center;margin-bottom: 8px } 
.section-title:nth-child(6){ text-align: center;margin-bottom: 8px }
.section-title:nth-child(7){ text-align: center; margin-bottom: 8px}
.section-title:nth-child(8){ text-align: center; margin-bottom: 8px}

.teams {
color:  #111111;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em ;
background-color: #FFFFFF ;

}
.teams:nth-child(1) {
    flex-basis: calc((100% - 72px) / 4);
    color:  #111111;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em ;
    background-color: #FFFFFF ;
    border-radius: 0px 0px 4px 4px; 
    
    }
    

    .name {

        padding: 32px 0 
    }



.hero-portfolio  {
    color:  #111111;
    background-color: var(--white-color);
    letter-spacing: 0.02em;
    padding-top: 120px;
    padding-bottom: 120px;
}

.start-mid {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-text-color);
    text-transform: capitalize;
    letter-spacing: 0.02em ;
    padding: 120px 0 ;

  }
  
  .title-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-text-color);
    text-transform: capitalize;
    text-align: center ;
    letter-spacing: 0.02em ; 
    color: #2e2f42;
    margin-bottom: 8px
  }
  
  .section-text {
    font-size: 16px;
  line-height: 1.5;
 
  text-align: center; }

  




a {
    text-decoration: none;
}

ul {
    color: #111;
    list-style-type: none;
}

.title-text{ font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-text-color);
    text-transform: capitalize;
    letter-spacing: 0.02em


}

.title-h {
text-align: center;
margin-bottom: 72px;

}




 .site-link {

    text-decoration: none;
    font-weight: 500 ;
    font-size: 16px ;
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    text-transform: uppercase;
    color : #2e2f42 ;
font-family: "Raleway", sans-serif
 }

.site-link:hover {
    color: #404bbf
}

.site-link:focus {
   color: #404bbf;
}

.section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-text-color);
    text-transform: capitalize; 
    letter-spacing: 0.02em ; 
}


/* footer  */

.footer-site {
    background-color: var(--primary-text-color);
    padding: 100px 0 ;

}

  
.footer-las {
    font-size: 18px  ; 
    line-height: 1.17;
    color: #2e2f42;
    font-family: "Raleway", sans-serif ; 
    font-weight: 700 ; 
    letter-spacing: 0.03em ;
    text-transform: uppercase }
  
  
  .footer-last {
    font-size: 18px  ; 
    line-height: 1.17;
    color: #f4f4fd;
    font-family: "Raleway", sans-serif ; 
    font-weight: 700 ; 
    letter-spacing: 0.03em ;
    text-transform: uppercase

  }

.footer-text {
    color:#f4f4fd ;
    line-height: 1.5 ;
    letter-spacing: 0.02em;
    margin-left: 156px;
    max-width: 264px
}
 



.last {
    text-decoration: none;
    font-family: raleway, sans-serif;
    color:  #f4f4fd;
    font-weight: 700 ;
    font-size: 18px ; 
    line-height: 1.17 ;
    letter-spacing: 0.03em ;
    text-transform: uppercase ;    
}

.studio {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 1;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
  }
  .nav-link {
    font-weight: 500 ;
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    color: #2e2f42  ; 



  }

  
  .addressf {
    display: flex;
    gap: 40px 
  }

  .start {
    margin-bottom: 8px; 


  }
  .our-sect{
    padding: 120px 0 

  }
  .nav-link:hover {
    color: #404bbf
  }

  .nav-link:focus {
    color: #404bbf
  }

.mainc {
    padding: 188px 0
}

  .logo-l {
    margin-right: 76px;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    color: #4d5ae5;
    font-weight: 700 ;
    font-size: 18px ; 
    line-height: 1.17 ;
    letter-spacing: 0.03em ;
    text-transform: uppercase ;
    margin-left: 156px;
    margin-bottom: 16px;
    display: inline-block;
}

.mid-list {
display: flex;
gap: 24px;

}
.nav-link:nth-child(1) {
    padding: 24px 0;
    margin-right: 40px
}
.nav-link:nth-child(2)
{
    padding: 24px 0;
    margin-right: 40px
}
.nav-link:nth-child(3)
{
    padding: 24px 0;
    margin-right: 0
}
.header-menu {
    display: flex;
    gap: 40px ;
}

.portfolio-list {
    margin-bottom: 72px; 
    display: flex ;
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 48px;


}
.first {
    width:calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 48px) / 3);
    
}

.div-port:nth-child(1) {
    padding: 32px 16px ;
    border: 1px solid #e7e9fc; 
    border-top: none; 
    margin-bottom: 8px;
    }
.div-port:nth-child(4) {
    padding: 32px 16px ;
    border: 1px solid #e7e9fc; 
    border-top: none; 
    margin-bottom: 8px;
    }
.div-port:nth-child(3) {
    padding: 32px 16px ;
    border: 1px solid #e7e9fc; 
    border-top: none; 
    margin-bottom: 8px;
    }
.div-port:nth-child(2) {
    padding: 32px 16px ;
    border: 1px solid #e7e9fc; 
    border-top: none; 
    margin-bottom: 8px;
    }
    


.div-port {
padding: 32px 16px ;
border: 1px solid #e7e9fc; 
border-top: none; 
margin-bottom: 8px;
}

.section-tit {
    text-align: center; 
    margin-bottom: 8px;
    
}


.section-te {
    text-align: center;
  
}

.mid-item:nth-child(1) {
    width: calc((100% - 72px) / 4);


}